@use '../utilities/variables' as *;

.header {
  width: 100%;
  padding: 1.5em;
  text-align: center;
  color: $textColor;

  h1 {
    font-family: $headerFontFamily;
    color: $textColor;
    letter-spacing: 5px;
    margin: 0.8em 0;
  }
}

#svg {
  display: block;
  position: absolute;
  width: 2.2em;
  margin: -10px -10px;
}

@media only screen and (min-width: 600px) {
  #svg {
    width: 6em;
  }
}
