@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header {
  width: 100%;
  padding: 1.5em;
  text-align: center;
  color: $textColor;

  h1 {
    font-family: $headerFontFamily;
    color: $textColor;
    letter-spacing: 5px;
    margin: 0.8em 0;
  }
}

#svg {
  display: block;
  position: absolute;
  width: 2.2em;
  margin: -10px -10px;
}

@media only screen and (min-width: 600px) {
  #svg {
    width: 6em;
  }
}

// Media Queries
@include mq-sm {
  #svg {
    margin-left: 5%;
  }
}

// Animation
.header h1 {
  @include keyframes(fade) {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fade, 2s, ease-in-out, 1);
}
