@use '../utilities/variables' as *;

main {
  padding: 20px;
  color: $textColor;
  font-family: $textFontFamily;

  img {
    max-width: 100%;
    height: auto;
  }

  section {
    scroll-margin-top: 70px;

    p {
      letter-spacing: 0.3px;
      text-indent: 10px;

      &::first-letter {
        color: $secondaryColor;
        font-size: 20px;
      }
    }
  }
}
