@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main {
  padding: 1.4em;

  img {
    max-width: 100%;
    height: auto;
  }

  section {
    scroll-margin-top: 5.2em;

    h2 {
      padding: 0.6em 0;
    }

    #boletus-background {
      position: fixed;
      right: -30px;
      bottom: 0;
      width: 350px;
      z-index: -1;
      opacity: 0.2;
      filter: contrast(50%);
      pointer-events: none;
    }
  }

  #about {
    margin-bottom: 2em;

    p {
      padding-bottom: 1em;
      text-indent: 30px;

      &::first-letter {
        color: $secondaryColor;
        font-weight: bolder;
        font-size: 20px;
      }
    }
  }

  #types {
    margin-bottom: 2em;

    p {
      padding-bottom: 1em;
    }

    ul {
      margin-left: 2em;
      padding: 0;

      li a {
        text-decoration: none;
        color: $textColor;

        &:hover {
          color: $primaryColor;
          transition: background-color 0.3s ease;
        }
      }
    }
  }

  #gallery {
    margin-bottom: 2em;

    .wrapper {
      scroll-margin-top: 5.2em;
      padding: 1rem 0;

      .about-mushrom {
        p {
          margin-top: 0.6em;
        }
      }
    }
  }
}

@include mq-sm {
  .main {
    max-width: 760px;
    margin: 0 auto;
  }

  @include mq-lg {
    #boletus-background {
      display: none;
    }
  }
}

@media screen and (max-height: 500px) {
  #boletus-background {
    display: none;
  }
}
