@use '../utilities/variables' as *;

main {
  padding: 20px;
  color: $textColor;
  font-family: $textFontFamily;

  img {
    max-width: 100%;
    height: auto;
  }

  section {
    scroll-margin-top: 70px;

    #boletus-background {
      position: fixed;
      right: -30px;
      bottom: 0;
      width: 350px;
      z-index: -9999;
      opacity: 0.2;
      filter: contrast(50%);
      pointer-events: none;
    }
  }

  #about {
    p {
      letter-spacing: 0.3px;
      text-indent: 30px;

      &::first-letter {
        color: $secondaryColor;
        font-weight: bolder;
        font-size: 20px;
      }
    }
  }
}
