@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

nav {
  background-color: $primaryColor;
  padding: 0.4em 0;
  position: sticky;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  li a {
    display: block;
    color: $tertiaryColor;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 1em 1.8em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  li a:hover {
    background-color: $secondaryColor;
    border-radius: 5px;
  }
}

@include mq-sm {
  ul {
    gap: 5em;
  }
}
