@use '../utilities/variables' as *;

nav {
  background-color: $primaryColor;
  padding: 5px;
  position: sticky;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
  }

  li a {
    display: block;
    color: $tertiaryColor;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  li a:hover {
    background-color: $secondaryColor;
    border-radius: 5px;
  }
}
