@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: $secondaryColor;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $textFontFamily;
  color: $textColor;
  background-color: $backgroundColor;
  letter-spacing: 0.2px;
}

@include mq-lg {
  body {
    width: 1260px;
    margin: 0 auto;
  }
}
